<html>

<head>
    <title>Bus tracker</title>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="./scripts/map.js"></script>
    <style>
        #map {
            height: 50%;
            width: 50%;
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <h1>Live Bus Tracker</h1>
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFZ2FjgtItESFsLMsvmEDSCVJm_KfXOqE&callback=initMap&v=weekly"
        async></script>

</body>
<script>
    let map;
    let buses = '<%- JSON.stringify(buses) %>';
    function initMap() {
        const bus = JSON.parse(buses);
        let lat = bus[0].busLocation.lat;
        let lng = bus[0].busLocation.lng;
        let stops = bus[0].route;

        const myLatLng = { lat: parseFloat(lat), lng: parseFloat(lng) };
        map = new google.maps.Map(document.getElementById("map"), {
            center: new google.maps.LatLng(lat, lng),
            zoom: 16,
        });

        new google.maps.Marker({
            position: myLatLng,
            map,
            title: bus[0].busNo,
        });
        for (const stop in stops) {
            let route = bus[0].route[stop];
            let lat = parseFloat(route.lat);
            let lng = parseFloat(route.lng);
            center = {lat, lng};
            const cityCircle = new google.maps.Circle({
                strokeColor: "#FF0000",
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: "#FF0000",
                fillOpacity: 0.35,
                map,
                center: center,
                radius: 10,
            });

        }






    }
</script>

</html>